* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
button{
    outline: none !important;
}
body{
    background-image: url(./img/bg5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 5;
}

.first_button {
    background-image: url(./img/blue.png);
}
.second_button {
    background-image: url(./img/circle.png);
}
.third_button {
    background-image: url(./img/green.png);
}
.fourth_button {
    background-image: url(./img/white.png);
}

.fifth_button {
    background-image: url(./img/pimk.png);
}
.sixth_button {
    background-image: url(./img/purple.png);
}
.seventh_button {
    background-image: url(./img/yellow.png);
}
button {
    background-size: 155px 120px;
    background-repeat: no-repeat;
    width: 155px;
    height: 120px;
    border: none;
}
button:hover {
border: 5px solid lightblue;
transition: ease .5s;
transform: scale(1.01);
}
h1, 
h5,
.comp_random_number {
text-align: center;
margin-bottom: 10px;
margin-top: 10px;
}
#comp_random_number {
    height: 30px;
    font-size: 30px;
    color: black;
    font-weight: bold;
}
